@model LaundryApplication.Models.ErrorViewModel
@{
    ViewData["Title"] = "Error";
    Layout = null;
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    <strong>Reason:</strong> <code>@Model._errorText</code>
</p>

<h3>
    Please use your browser's back button to return
</h3>